In [ ]:
import pandas as pd

FILE_PATH = "loan.csv"

df = pd.read_csv(FILE_PATH, low_memory=False)

print(df.shape)
print(df.head())

In [3]:
sample = pd.read_csv(FILE_PATH, nrows=5000)
sample.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv            int64
                          ...
settlement_status        float64
settlement_date          float64
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 145, dtype: object

In [5]:
import pandas as pd

df = pd.read_csv(
    FILE_PATH,
    engine="pyarrow",
    dtype_backend="pyarrow",  # avoids Python objects
)

In [6]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,None,None,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,None,None,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,None,None,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,None,None,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,None,None,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,<NA>,<NA>,Cash,N,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Columns: 145 entries, id to settlement_term
dtypes: double[pyarrow](28), int64[pyarrow](78), null[pyarrow](3), string[pyarrow](36)
memory usage: 2.5 GB

In [8]:
df.describe()

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,mths_since_last_delinq,...,deferral_term,hardship_amount,hardship_length,hardship_dpd,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,settlement_amount,settlement_percentage,settlement_term
count,2260668.0,2260668.0,2260668.0,2260668.0,2260668.0,2260664.0,2258957.0,2260639.0,2260638.0,1102166.0,...,10613.0,10613.0,10613.0,10613.0,8426.0,10613.0,10613.0,33056.0,33056.0,33056.0
mean,15046.931228,15041.664057,15023.437624,13.092913,445.807646,77992.428687,18.824196,0.306879,0.576835,34.540916,...,3.0,155.006696,3.0,13.686422,454.840802,11628.036442,193.606331,5030.606922,47.7756,13.148596
std,9190.245488,9188.413022,9192.331807,4.832114,267.173725,112696.199574,14.183329,0.86723,0.885963,21.900471,...,0.0,129.113137,0.0,9.728138,375.830737,7615.161123,198.694368,3692.027842,7.336379,8.192319
min,500.0,500.0,0.0,5.31,4.93,0.0,-1.0,0.0,0.0,0.0,...,3.0,0.64,3.0,0.0,1.92,55.73,0.01,44.21,0.2,0.0
25%,8000.0,8000.0,8000.0,9.49,251.65,46000.0,11.89,0.0,0.0,16.0,...,3.0,59.37,3.0,5.0,174.9675,5628.73,43.78,2227.0,45.0,6.0
50%,12900.0,12875.0,12800.0,12.62,377.99,65000.0,17.84,0.0,0.0,31.0,...,3.0,119.04,3.0,15.0,352.605,10044.22,132.89,4172.855,45.0,14.0
75%,20000.0,20000.0,20000.0,15.99,593.32,93000.0,24.49,0.0,1.0,50.0,...,3.0,213.26,3.0,22.0,622.7925,16114.94,284.18,6870.7825,50.0,18.0
max,40000.0,40000.0,40000.0,30.99,1719.83,110000000.0,999.0,58.0,33.0,226.0,...,3.0,943.94,3.0,37.0,2680.89,40306.41,1407.86,33601.0,521.35,181.0

In [9]:
df.isnull().sum().sort_values(ascending=False)

id                                            2260668
url                                           2260668
member_id                                     2260668
orig_projected_additional_accrued_interest    2252242
hardship_length                               2250055
                                               ...
out_prncp_inv                                       0
out_prncp                                           0
initial_list_status                                 0
hardship_flag                                       0
addr_state                                          0
Length: 145, dtype: int64

In [10]:
df = df.dropna(axis=1, how="all")  # drop columns entirely empty

In [11]:
df.shape

(2260668, 142)

In [13]:
empty_cols = df.columns[df.isnull().sum() == len(df)]
empty_cols

Index([], dtype='object')

In [12]:
df.isnull().sum().sort_values(ascending=False)

orig_projected_additional_accrued_interest    2252242
hardship_amount                               2250055
hardship_length                               2250055
hardship_type                                 2250055
hardship_reason                               2250055
                                               ...
initial_list_status                                 0
out_prncp                                           0
out_prncp_inv                                       0
total_pymnt                                         0
loan_amnt                                           0
Length: 142, dtype: int64

In [14]:
pd.set_option("display.max_rows", 200)  # show full list
df.isnull().sum().sort_values(ascending=False)

orig_projected_additional_accrued_interest    2252242
hardship_amount                               2250055
hardship_length                               2250055
hardship_type                                 2250055
hardship_reason                               2250055
hardship_status                               2250055
deferral_term                                 2250055
hardship_start_date                           2250055
hardship_last_payment_amount                  2250055
hardship_end_date                             2250055
payment_plan_start_date                       2250055
hardship_payoff_balance_amount                2250055
hardship_loan_status                          2250055
hardship_dpd                                  2250055
settlement_term                               2227612
debt_settlement_flag_date                     2227612
settlement_status                             2227612
settlement_date                               2227612
settlement_amount                             2227612
settlement_percentage                         2227612
sec_app_mths_since_last_major_derog           2224726
sec_app_revol_util                            2154484
revol_bal_joint                               2152648
sec_app_inq_last_6mths                        2152647
sec_app_open_act_il                           2152647
sec_app_num_rev_accts                         2152647
sec_app_chargeoff_within_12_mths              2152647
sec_app_collections_12_mths_ex_med            2152647
sec_app_earliest_cr_line                      2152647
sec_app_mort_acc                              2152647
sec_app_open_acc                              2152647
verification_status_joint                     2144938
dti_joint                                     2139962
annual_inc_joint                              2139958
desc                                          2134603
mths_since_last_record                        1901512
mths_since_recent_bc_dlq                      1740967
mths_since_last_major_derog                   1679893
mths_since_recent_revol_delinq                1520309
next_pymnt_d                                  1303607
mths_since_last_delinq                        1158502
il_util                                       1068850
mths_since_rcnt_il                             909924
all_util                                       866348
open_acc_6m                                    866130
inq_last_12m                                   866130
total_cu_tl                                    866130
open_rv_24m                                    866129
inq_fi                                         866129
max_bal_bc                                     866129
open_rv_12m                                    866129
total_bal_il                                   866129
open_il_24m                                    866129
open_il_12m                                    866129
open_act_il                                    866129
mths_since_recent_inq                          295435
emp_title                                      166969
num_tl_120dpd_2m                               153657
emp_length                                     146907
mo_sin_old_il_acct                             139071
bc_util                                         76071
percent_bc_gt_75                                75379
bc_open_to_buy                                  74935
mths_since_recent_bc                            73412
pct_tl_nvr_dlq                                  70431
avg_cur_bal                                     70346
mo_sin_rcnt_rev_tl_op                           70277
mo_sin_old_rev_tl_op                            70277
num_rev_accts                                   70277
num_bc_tl                                       70276
mo_sin_rcnt_tl                                  70276
num_op_rev_tl                                   70276
num_il_tl                                       70276
num_accts_ever_120_pd                           70276
num_actv_bc_tl                                  70276
tot_hi_cred_lim                                 70276
total_rev_hi_lim                                70276
tot_cur_bal                                     70276
tot_coll_amt                                    70276
num_rev_tl_bal_gt_0                             70276
total_il_high_credit_limit                      70276
num_tl_30dpd                                    70276
num_tl_90g_dpd_24m                              70276
num_tl_op_past_12m                              70276
num_actv_rev_tl                                 70276
num_sats                                        58590
num_bc_sats                                     58590
total_bc_limit                                  50030
total_bal_ex_mort                               50030
acc_open_past_24mths                            50030
mort_acc                                        50030
title                                           23326
last_pymnt_d                                     2426
revol_util                                       1802
dti                                              1711
pub_rec_bankruptcies                             1365
chargeoff_within_12_mths                          145
collections_12_mths_ex_med                        145
tax_liens                                         105
last_credit_pull_d                                 73
inq_last_6mths                                     30
total_acc                                          29
delinq_2yrs                                        29
earliest_cr_line                                   29
open_acc                                           29
delinq_amnt                                        29
pub_rec                                            29
acc_now_delinq                                     29
annual_inc                                          4
zip_code                                            1
funded_amnt                                         0
pymnt_plan                                          0
loan_status                                         0
issue_d                                             0
verification_status                                 0
home_ownership                                      0
sub_grade                                           0
disbursement_method                                 0
debt_settlement_flag                                0
grade                                               0
installment                                         0
int_rate                                            0
term                                                0
funded_amnt_inv                                     0
purpose                                             0
total_rec_prncp                                     0
total_pymnt_inv                                     0
addr_state                                          0
application_type                                    0
policy_code                                         0
hardship_flag                                       0
last_pymnt_amnt                                     0
collection_recovery_fee                             0
recoveries                                          0
revol_bal                                           0
total_rec_late_fee                                  0
total_rec_int                                       0
initial_list_status                                 0
out_prncp                                           0
out_prncp_inv                                       0
total_pymnt                                         0
loan_amnt                                           0
dtype: int64

In [15]:
to_drop = df.columns[df.isnull().mean() > 0.90]
df = df.drop(columns=to_drop)

In [16]:
pd.set_option("display.max_rows", 200)  # show full list
df.isnull().sum().sort_values(ascending=False)

mths_since_last_record            1901512
mths_since_recent_bc_dlq          1740967
mths_since_last_major_derog       1679893
mths_since_recent_revol_delinq    1520309
next_pymnt_d                      1303607
mths_since_last_delinq            1158502
il_util                           1068850
mths_since_rcnt_il                 909924
all_util                           866348
inq_last_12m                       866130
total_cu_tl                        866130
open_acc_6m                        866130
open_rv_24m                        866129
open_il_24m                        866129
open_il_12m                        866129
total_bal_il                       866129
open_act_il                        866129
open_rv_12m                        866129
max_bal_bc                         866129
inq_fi                             866129
mths_since_recent_inq              295435
emp_title                          166969
num_tl_120dpd_2m                   153657
emp_length                         146907
mo_sin_old_il_acct                 139071
bc_util                             76071
percent_bc_gt_75                    75379
bc_open_to_buy                      74935
mths_since_recent_bc                73412
pct_tl_nvr_dlq                      70431
avg_cur_bal                         70346
num_rev_accts                       70277
mo_sin_old_rev_tl_op                70277
mo_sin_rcnt_rev_tl_op               70277
num_actv_bc_tl                      70276
tot_cur_bal                         70276
tot_coll_amt                        70276
total_rev_hi_lim                    70276
num_accts_ever_120_pd               70276
num_actv_rev_tl                     70276
mo_sin_rcnt_tl                      70276
num_tl_30dpd                        70276
num_bc_tl                           70276
total_il_high_credit_limit          70276
num_il_tl                           70276
num_op_rev_tl                       70276
num_rev_tl_bal_gt_0                 70276
tot_hi_cred_lim                     70276
num_tl_op_past_12m                  70276
num_tl_90g_dpd_24m                  70276
num_bc_sats                         58590
num_sats                            58590
total_bc_limit                      50030
total_bal_ex_mort                   50030
acc_open_past_24mths                50030
mort_acc                            50030
title                               23326
last_pymnt_d                         2426
revol_util                           1802
dti                                  1711
pub_rec_bankruptcies                 1365
chargeoff_within_12_mths              145
collections_12_mths_ex_med            145
tax_liens                             105
last_credit_pull_d                     73
inq_last_6mths                         30
pub_rec                                29
delinq_2yrs                            29
open_acc                               29
total_acc                              29
acc_now_delinq                         29
delinq_amnt                            29
earliest_cr_line                       29
annual_inc                              4
zip_code                                1
hardship_flag                           0
disbursement_method                     0
loan_amnt                               0
funded_amnt                             0
addr_state                              0
funded_amnt_inv                         0
term                                    0
int_rate                                0
installment                             0
grade                                   0
sub_grade                               0
home_ownership                          0
verification_status                     0
issue_d                                 0
loan_status                             0
pymnt_plan                              0
purpose                                 0
revol_bal                               0
application_type                        0
initial_list_status                     0
out_prncp                               0
out_prncp_inv                           0
total_pymnt                             0
total_pymnt_inv                         0
total_rec_prncp                         0
total_rec_int                           0
total_rec_late_fee                      0
recoveries                              0
collection_recovery_fee                 0
last_pymnt_amnt                         0
policy_code                             0
debt_settlement_flag                    0
dtype: int64

In [17]:
df = df.drop(columns=df.columns[df.isnull().mean() > 0.50])

In [18]:
pd.set_option("display.max_rows", 200)  # show full list
df.isnull().sum().sort_values(ascending=False)

il_util                       1068850
mths_since_rcnt_il             909924
all_util                       866348
open_acc_6m                    866130
inq_last_12m                   866130
total_cu_tl                    866130
open_il_12m                    866129
open_rv_12m                    866129
open_act_il                    866129
open_il_24m                    866129
inq_fi                         866129
max_bal_bc                     866129
total_bal_il                   866129
open_rv_24m                    866129
mths_since_recent_inq          295435
emp_title                      166969
num_tl_120dpd_2m               153657
emp_length                     146907
mo_sin_old_il_acct             139071
bc_util                         76071
percent_bc_gt_75                75379
bc_open_to_buy                  74935
mths_since_recent_bc            73412
pct_tl_nvr_dlq                  70431
avg_cur_bal                     70346
num_rev_accts                   70277
mo_sin_rcnt_rev_tl_op           70277
mo_sin_old_rev_tl_op            70277
num_accts_ever_120_pd           70276
num_actv_bc_tl                  70276
tot_coll_amt                    70276
total_il_high_credit_limit      70276
tot_hi_cred_lim                 70276
mo_sin_rcnt_tl                  70276
num_tl_30dpd                    70276
num_tl_90g_dpd_24m              70276
num_tl_op_past_12m              70276
tot_cur_bal                     70276
num_actv_rev_tl                 70276
num_bc_tl                       70276
num_il_tl                       70276
num_op_rev_tl                   70276
total_rev_hi_lim                70276
num_rev_tl_bal_gt_0             70276
num_sats                        58590
num_bc_sats                     58590
total_bal_ex_mort               50030
acc_open_past_24mths            50030
mort_acc                        50030
total_bc_limit                  50030
title                           23326
last_pymnt_d                     2426
revol_util                       1802
dti                              1711
pub_rec_bankruptcies             1365
collections_12_mths_ex_med        145
chargeoff_within_12_mths          145
tax_liens                         105
last_credit_pull_d                 73
inq_last_6mths                     30
delinq_amnt                        29
total_acc                          29
earliest_cr_line                   29
acc_now_delinq                     29
open_acc                           29
pub_rec                            29
delinq_2yrs                        29
annual_inc                          4
zip_code                            1
hardship_flag                       0
disbursement_method                 0
loan_amnt                           0
funded_amnt                         0
addr_state                          0
funded_amnt_inv                     0
term                                0
int_rate                            0
installment                         0
grade                               0
sub_grade                           0
home_ownership                      0
verification_status                 0
issue_d                             0
loan_status                         0
pymnt_plan                          0
purpose                             0
revol_bal                           0
application_type                    0
initial_list_status                 0
out_prncp                           0
out_prncp_inv                       0
total_pymnt                         0
total_pymnt_inv                     0
total_rec_prncp                     0
total_rec_int                       0
total_rec_late_fee                  0
recoveries                          0
collection_recovery_fee             0
last_pymnt_amnt                     0
policy_code                         0
debt_settlement_flag                0
dtype: int64

In [19]:
very_sparse = [
    "il_util",
    "mths_since_rcnt_il",
    "all_util",
    "open_acc_6m",
    "inq_last_12m",
    "total_cu_tl",
    "open_il_12m",
    "open_rv_12m",
    "open_act_il",
    "open_il_24m",
    "inq_fi",
    "max_bal_bc",
    "total_bal_il",
    "open_rv_24m",
]

df = df.drop(columns=very_sparse, errors="ignore")

In [20]:
pd.set_option("display.max_rows", 200)  # show full list
df.isnull().sum().sort_values(ascending=False)

mths_since_recent_inq         295435
emp_title                     166969
num_tl_120dpd_2m              153657
emp_length                    146907
mo_sin_old_il_acct            139071
bc_util                        76071
percent_bc_gt_75               75379
bc_open_to_buy                 74935
mths_since_recent_bc           73412
pct_tl_nvr_dlq                 70431
avg_cur_bal                    70346
num_rev_accts                  70277
mo_sin_old_rev_tl_op           70277
mo_sin_rcnt_rev_tl_op          70277
num_il_tl                      70276
num_accts_ever_120_pd          70276
num_op_rev_tl                  70276
mo_sin_rcnt_tl                 70276
num_bc_tl                      70276
num_actv_rev_tl                70276
num_actv_bc_tl                 70276
num_tl_op_past_12m             70276
num_tl_30dpd                   70276
tot_coll_amt                   70276
num_tl_90g_dpd_24m             70276
tot_cur_bal                    70276
total_rev_hi_lim               70276
tot_hi_cred_lim                70276
total_il_high_credit_limit     70276
num_rev_tl_bal_gt_0            70276
num_bc_sats                    58590
num_sats                       58590
acc_open_past_24mths           50030
total_bc_limit                 50030
total_bal_ex_mort              50030
mort_acc                       50030
title                          23326
last_pymnt_d                    2426
revol_util                      1802
dti                             1711
pub_rec_bankruptcies            1365
chargeoff_within_12_mths         145
collections_12_mths_ex_med       145
tax_liens                        105
last_credit_pull_d                73
inq_last_6mths                    30
total_acc                         29
delinq_amnt                       29
acc_now_delinq                    29
delinq_2yrs                       29
earliest_cr_line                  29
open_acc                          29
pub_rec                           29
annual_inc                         4
zip_code                           1
hardship_flag                      0
disbursement_method                0
loan_amnt                          0
policy_code                        0
application_type                   0
funded_amnt                        0
funded_amnt_inv                    0
term                               0
int_rate                           0
installment                        0
grade                              0
sub_grade                          0
home_ownership                     0
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
purpose                            0
addr_state                         0
revol_bal                          0
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_pymnt_amnt                    0
debt_settlement_flag               0
dtype: int64

In [23]:
df.to_csv("cleaned_loan_dataset.csv", index=False)

In [25]:
FILE_PATH = "cleaned_loan_dataset.csv"